* {
	margin:0;
	padding:0
}
body,html{ height: 100%; display: block}
body {
	background-color:#fff;
	color:#4e5c69;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-family:"Microsoft YaHei";
	line-height:1.6em;
	font-size: 1.2em;
}

.container {
	line-height:2em;
	max-width:80%;
	margin:0 auto;
}
.content .container{ padding: 1em 0; text-align:left}
@media (min-width:600px) {
	.container {
	width:70%
}
}
.container h1{ padding-top:2em}

header {
	background-color: #159957;
	background-image: linear-gradient(120deg, #155799, #159957);
	color:#fff;
	height: 280px;
}
footer {
	margin-top:1em;
	margin-bottom:2em;
	font-size:1em;
	color:#7a858f;
	line-height:1.8em
}
h1 {
	line-height:1.4em;
	font-size:2em
}
h2 { padding-top: 1em;font-size:1em
}
a:link,a:visited {
	text-decoration:none;
	color:#234;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	border-bottom-color:#bdc2c7
}
a:hover,a:focus {
	text-decoration:none;
	color:#234;
	border-bottom-style:solid;
	border-bottom-color:#7a858f
}
a.btn-dtn:link,a.btn-dtn:visited,a.btn-dtn:hover,a.btn-dtn:focus {
	display:inline-block;
	margin-top:2em;
	border-bottom-style:none
}
.message {
	margin-top:2em;
	margin-bottom:2em;
	color:#7a858f;
	font-size:0.8em
}
.hover {
    width: 500px;
	height: 500px;
	color:black;
    background-color: greenyellow;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.hover:hover, .hover:focus, .hover:active {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
	background-color: green;
	color:black;
}
